version: "3.3"  # optional since v1.27.0
services:
  nodered:
    user: "0:1000"
    build:
      context: .
      dockerfile: dockerfile_nodered
    ports:
      - "1880:1880"
    volumes:
      - smartpot_data:/home/pi/smartpot
      - nodered_data:/data
  smartpot:
    user: "0:1000"
    environment:
    - PYTHONUNBUFFERED=1
    build:
      context: .
      dockerfile: dockerfile_smartpot
    privileged: true
    volumes:
    - smartpot_data:/home/smartpot
    - ${PWD}/smartpot.ini:/home/smartpot/smartpot.ini
    - ${PWD}/smartpot.log:/home/smartpot/smartpot.log
volumes:
  smartpot_data:
  nodered_data:
